.App {
  text-align: center;
  font-family: 'Barlow', sans-serif !important;
  color: #484848;
}


.form-container {
  margin: 80px;
  border: solid 4px #0C0683;
  border-radius: 10px;

}

.form {
  padding: 40px 40px 40px 40px;
}

.child-form-button {
  padding: 0 40px 40px 40px;
}

.field {
  padding: 15px 0px 15px 0px;
}
